@font-face {
  font-family: StarJediHollow-A4lL;
  src: URL(StarJediHollow-A4lL.ttf) format("opentype");
}
.heading {
  font-weight: bolder;
  color: white;
  font-family: "Star Jedi";
  font-size: 4vw;
  text-shadow: 4px 4px 4px #aaa;
  margin-left: 40px;
}
body {
  background-image: url("https://mcdn.wallpapersafari.com/medium/78/98/5R2EL3.jpg");
  font-family: StarJediHollow-A4lL;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.container {
  box-sizing: border-box;
  margin: auto;
  margin-top: 2%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.one {
  border-radius: 500px;
  margin: 10px;
  box-sizing: border-box;
  height: 20%;
  background-color: #665233;
}

.outer-two {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.two-one {
  border-radius: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: 20%;
  background-color: #805533;
}

.two-two {
  margin: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.two-two-one {
  margin: 10px;
  box-sizing: border-box;
  height: 40%;
  width: 100%;
  border-radius: 500px;
  background-color: #3f26bf;
}
.two-two-two {
  margin: 10px;
  box-sizing: border-box;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.two-two-three {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 500px;
  height: 20%;
  width: 100%;
  background-color: rgb(56, 16, 16);
}

.two-two-two-one {
  box-sizing: border-box;
  margin-right: 10px;
  width: 50%;
  height: 100%;
  border-radius: 500px;
  background-color: rgb(51, 78, 48);
}
.two-two-two-two {
  margin-left: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border-radius: 500px;
  background-color: rgb(117, 147, 78);
}
